:root {
    --Web-Neutral-900: #000000;
    --Web-Neutral-100: #FFFFFF;
    --Web-Neutral-200: #F2F2F2;
    --Web-Neutral-300: #E0E0E0;
    --Web-Neutral-400: #A0A0A0;
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-family: Inter;
}

a {
    color: var(--Web-Neutral-900);
    text-decoration: none;
}

.button {
    background-color: var(--Web-Neutral-900);
    color: var(--Web-Neutral-100);
    padding: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items:center; 
    padding: 20px 40px;
    margin-bottom: 100px;
    background: var(--Web-Neutral-100);
    gap: 35px;
}


.header__logo {
    border-radius: 10px;
    height: 50px;
}

.header__nav {
    display: flex;
    gap: 20px;
}    

.header__nav-item {
    font-size: 16px;
    font-weight: 400;
    transition: text-shadow 0.1s;
}    

.header__nav-item:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
} 

.header__buttons {
    margin-left: auto;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background: var(--Web-Neutral-100);
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-section__title {
    color: var(--Web-Neutral-900);
    font-size: 64px;
    font-weight: 400;
}

.left-section__text {
    margin-top: 20px;
    margin-bottom: 60px;
    color: var(--Web-Neutral-900);
    font-size: 16px;
    font-weight: 400;
}

.right-section__title {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--Web-Neutral-200);
    text-align: right;
    font-size: 348px;
    font-weight: 400;
}

.footer {
    background: var(--Web-Neutral-200);
    display: flex;
    flex-direction: column;
    padding: 40px 40px 28px 40px;
    
}

.footer__company {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 0px 28px 0px;
    border-top: 1px solid var(--Web-Neutral-300);
    border-bottom: 1px solid var(--Web-Neutral-300);
}    

.company__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
} 

.company__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.company__name {
    color: var(--Web-Neutral-900);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    gap: 20px;
}

.sub-footer__copyright {
    color: var(--Web-Neutral-900);
    font-size: 14px;
    font-weight: 400;
}

.sub-footer__link {
    color: var(--Web-Neutral-400);
    font-size: 14px;
    font-weight: 400;
}

.sub-footer__xpage {
    color: var(--Web-Neutral-900);
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
}

