:root {
    --Web-Neutral-900: #000000;
    --Web-Neutral-100: #FFFFFF;
    --Web-Neutral-200: #F2F2F2;
    --Web-Neutral-300: #E0E0E0;
    --Web-Neutral-400: #A0A0A0;
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    color: var(--Web-Neutral-900, #000);
}

@font-face {
    font-family: Inter;
    src: url("./fonts/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    color: var(--Web-Neutral-900, #000);
}

a {
    color: var(--Web-Neutral-900, #000);
    text-decoration: none;
}

.button {
    background-color: var(--Web-Neutral-900);
    color: var(--Web-Neutral-100);
    padding: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items:center; 
    padding: 20px 40px;
    margin-bottom: 100px;
    background: var(--Web-Neutral-100);
    font-family: Inter;
    gap: 35px;
}


header .logo {
    border-radius: 10px;
    height: 50px;
}

header .nav {
    display: flex;
    gap: 20px;
}    

header .nav a {
    font-size: 16px;
    font-weight: 400;
    transition: all 100ms;
}    

header .nav a:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
/*  -webkit-text-stroke-width: 1px; Без этих параметров ховер не такой как на макете, нужно подумать как повторить
    -webkit-text-stroke-color: #000; */
} 

header .button {
    margin-left: auto;
}

body {
    /* min-height: 100vh; */
    width: 1920px;     
    max-width: 100%;
    margin: 0 auto;	
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Inter;
    background: var(--Web-Neutral-100);
}

section .left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section .left-section__title {
    color: var(--Web-Neutral-900);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}

section .left-section__text {
    margin-top: 20px;
    margin-bottom: 60px;
    color: var(--Web-Neutral-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

section .right-section {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--Web-Neutral-200);
    text-align: right;
    font-family: Inter;
    font-size: 348px;
    font-style: normal;
    font-weight: 400;
}

footer {
    background: var(--Web-Neutral-200);
    display: flex;
    flex-direction: column;
    padding: 40px 40px 28px 40px;
    
}

footer .company {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 28px 0px 28px 0px;
    border-top: 1px solid var(--Web-Neutral-300);
    border-bottom: 1px solid var(--Web-Neutral-300);
}    

footer .company__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
} 

footer .company__name {
    color: var(--Web-Neutral-900);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

footer .sub-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

footer .copyright-link {
    display: flex;
    gap: 20px;
}

footer .copyright-link a {
    color: var(--Web-Neutral-400);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

footer h5 {
    color: var(--Web-Neutral-900);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}